<!DOCTYPE html>
<html>
<head>
  <link href="authStyle.scss">
</head>
<body>
<div style="margin-top: 30px; padding-left: 80px"></div>
<div class="container"
     [ngClass]="{'right-panel-active' : isChangePanel}"
>
  <!-- Sign Up -->
  <div class="container__form container--signup">
    <form action="#" class="form" id="form1">
      <h2 class="form__title">Sign Up</h2>
      <input type="text" placeholder="User" class="input"/>
      <input type="email" placeholder="Email" class="input"/>
      <input type="password" placeholder="Password" class="input"/>
      <button class="btn">Sign Up</button>
    </form>
  </div>

  <!-- Sign In -->
  <div class="container__form container--signin">
    <form action="#" class="form" id="form2">
      <h2 class="form__title">Sign In</h2>
      <input type="email" placeholder="Email" class="input"/>
      <input type="password" placeholder="Password" class="input"/>
      <a href="#" class="link">Forgot your password?</a>
      <button class="btn">Sign In</button>
    </form>
  </div>

  <!-- Overlay -->
  <div class="container__overlay">
    <div class="overlay">
      <div class="overlay__panel overlay--left">
        <button class="btn" id="signIn" (click)="signInBtn()">Sign In</button>
      </div>
      <div class="overlay__panel overlay--right">
        <button class="btn" id="signUp" (click)="signUpBtn()">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<span style="visibility: hidden">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad maiores quibusdam vero. Amet cupiditate debitis ea enim error ex id ipsa, modi, nam natus officia quod rerum soluta tempora, veniam!
</span>
</body>
</html>
