.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

nav {
  height: 100%;
}

.side-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
